$sidebar-width: 15em;
$sidebar-margin: 1em;

html, body, topic-study-app {
    height: 100%;
}
body {
    line-height: 1.5;
}

topic-study-app {
    @include clearfix;
}

.l-header {
    // margin-bottom: 1em;
    padding: 0.5em;

    > h1 {
        display: inline-block;
        font-size: 1em;
        margin: 0 0 0 0.5em;
        vertical-align: middle;

        @include bp(340px) {
            font-size: 1.25em;
        }
        @include bp(475px) {
            font-size: 1.75em;
        }
    }
}

.l-content-wrapper {
    position: relative;
    height: calc(100% - 4em);
}

.l-sidebar {
    background-color: white;
    box-shadow: 0 0 2px #aaa, 0 8px 12px rgba(119, 119, 119, 0.5);
    box-sizing: border-box;
    height: 100%;
    padding: 1em;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    transform: translateX(-#{$sidebar-width});
    width: $sidebar-width;
    z-index: 10;

    &.is-showing {
        transform: translateX(0);
    }
}

.l-content {
    box-sizing: border-box;
    // float: left;
    padding: 1em;
    width: 100%;

    .is-showing + & {
        @include bp(800px) {
            padding-left: 16em;
        }
    }
}
