$sidebar-width: 15em;
$sidebar-margin: 1em;

topic-study-app {
    @include clearfix;
}

.l-header {
    margin-bottom: 1em;
    padding: 0.5em;

    > h1 {
        display: inline-block;
        font-size: 1.75em;
        margin: 0 0 0 0.5em;
        vertical-align: middle;
    }
}

.l-sidebar {
    background-color: white;
    box-shadow: 0 0 2px #aaa, 0 8px 12px rgba(119, 119, 119, 0.5);
    box-sizing: border-box;
    height: 94%;
    padding: 1em;
    position: absolute;
    top: 3.25em;
    transition: all 0.3s;
    transform: translateX(-#{$sidebar-width});
    width: $sidebar-width;
    z-index: 10;

    &.is-showing {
        transform: translateX(0);
        // float: left;
        // margin-right: $sidebar-margin;

        // & + .l-content {
        //     float: left;
        //     width: calc(100% - #{$sidebar-width + $sidebar-margin + 1});
        // }
    }
}

.l-content {
    box-sizing: border-box;
    float: left;
    padding: 1em;
    width: 100%;

    .is-showing + & {
        @include bp(800px) {
            padding-left: 16em;
        }
    }
}
