$primary: #4a148c;
$primary-light: #7c43bd;
$primary-dark: #12005e;
$primary-text-normal: rgba(255, 255, 255, 65%);
$primary-text-bold: rgba(255, 255, 255, 90%);

$secondary: #ffd600;
$secondary-light: #ffff52;
$secondary-dark: #c7a500;
$secondary-text-normal: rgba(0, 0, 0, 65%);
$secondary-text-bold: rgba(0, 0, 0, 90%);
