<!-- pass filter value to .topic-name -->
<div class="topic-search-filter">
    <!-- <input [(ngModel)]="searchTerm" type="text"> -->
</div>

<div *ngFor="let topic of topics">
    <!-- *ngIf="searchTerm"  (will this hide unless search matches? How do I show all but hide when searchTerm is truthy?) -->
    <div class="topic-name topic-{{topic.slug}}" (click)="getTopicList(topic.slug)">
        {{topic.name}} ({{topic.count}})
    </div>
    <!-- <moc-topic-list>Loading List...</moc-topic-list> -->
</div>